<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <clear />
        <add name="commonLoggingListener"
             type="Common.Logging.CommonLoggingTraceListener, Common.Logging" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>