<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PA.Plugin" publicKeyToken="efe7f84d28b0579c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5394.15176" newVersion="4.0.5394.15176" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PA.Plugin.Operations" publicKeyToken="efe7f84d28b0579c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5394.15192" newVersion="4.0.5394.15192" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PA.Configuration" publicKeyToken="efe7f84d28b0579c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5394.15175" newVersion="4.0.5394.15175" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PA.Converters" publicKeyToken="efe7f84d28b0579c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5394.15172" newVersion="4.0.5394.15172" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PA.TileList" publicKeyToken="efe7f84d28b0579c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5394.15185" newVersion="4.0.5394.15185" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PA.TileList.Geometrics" publicKeyToken="efe7f84d28b0579c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5394.15195" newVersion="4.0.5394.15195" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PA.TileList.Extensions" publicKeyToken="efe7f84d28b0579c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5394.15190" newVersion="4.0.5394.15190" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>