[submodule "PA.Configuration"]
	path = PA.Configuration
	url = https://7840f421ab2acf1fb80675180d26d133f3829f57:x-oauth-basic@github.com/tomgrv/PA.Configuration.git
[submodule "PA.Converters"]
	path = PA.Converters
	url = https://7840f421ab2acf1fb80675180d26d133f3829f57:x-oauth-basic@github.com/tomgrv/PA.Converters.git
[submodule "PA.Data"]
	path = PA.Data
	url = https://7840f421ab2acf1fb80675180d26d133f3829f57:x-oauth-basic@github.com/tomgrv/PA.Data.git
[submodule "PA.File"]
	path = PA.File
	url = https://7840f421ab2acf1fb80675180d26d133f3829f57:x-oauth-basic@github.com/tomgrv/PA.File.git
[submodule "PA.InnoSetupProcessor"]
	path = PA.InnoSetupProcessor
	url = https://7840f421ab2acf1fb80675180d26d133f3829f57:x-oauth-basic@github.com/tomgrv/PA.InnoSetupProcessor.git
[submodule "PA.LibraryTools"]
	path = PA.LibraryTools
	url = https://7840f421ab2acf1fb80675180d26d133f3829f57:x-oauth-basic@github.com/tomgrv/PA.LibraryTools.git
[submodule "PA.Picture"]
	path = PA.Picture
	url = https://7840f421ab2acf1fb80675180d26d133f3829f57:x-oauth-basic@github.com/tomgrv/PA.Picture.git
[submodule "PA.Plugin"]
	path = PA.Plugin
	url = https://7840f421ab2acf1fb80675180d26d133f3829f57:x-oauth-basic@github.com/tomgrv/PA.Plugin.git
[submodule "PA.SimiliBrowser"]
	path = PA.SimiliBrowser
	url = https://7840f421ab2acf1fb80675180d26d133f3829f57:x-oauth-basic@github.com/tomgrv/PA.SimiliBrowser.git
[submodule "PA.TileList"]
	path = PA.TileList
	url = https://7840f421ab2acf1fb80675180d26d133f3829f57:x-oauth-basic@github.com/tomgrv/PA.TileList.git
