<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\ST.Wafermap\Plugins\CircularOperation\packages.config" />
  <repository path="..\ST.Wafermap\Plugins\PcsaTools\packages.config" />
  <repository path="..\ST.Wafermap\Plugins\Rotation90\packages.config" />
  <repository path="..\ST.Wafermap\Plugins\Wafermap.Plugin.CadenceTools\packages.config" />
  <repository path="..\ST.Wafermap\Plugins\Wafermap.Plugin.Debug\packages.config" />
  <repository path="..\ST.Wafermap\Plugins\Wafermap.Plugin.Files.StifFile\packages.config" />
  <repository path="..\ST.Wafermap\Plugins\Wafermap.Plugin.Metrics\packages.config" />
  <repository path="..\ST.Wafermap\Toolbox\Toolbox.Launcher\packages.config" />
  <repository path="..\ST.Wafermap\Toolbox\Toolbox.Plugin.File\packages.config" />
  <repository path="..\ST.Wafermap\Toolbox\Toolbox.Plugin.FileHandler.SftpHandler\packages.config" />
  <repository path="..\ST.Wafermap\Toolbox\Toolbox.Plugin.FileHandler\packages.config" />
  <repository path="..\ST.Wafermap\Toolbox\Toolbox.Plugin.Thread.FileHandler\packages.config" />
  <repository path="..\ST.Wafermap\Wafermap.ClickOnce\packages.config" />
  <repository path="..\ST.Wafermap\Wafermap.Controls\packages.config" />
  <repository path="..\ST.Wafermap\Wafermap.Desktop\packages.config" />
  <repository path="..\ST.Wafermap\Wafermap.Objects\packages.config" />
  <repository path="..\ST.Wafermap\Wafermap.Plugin\packages.config" />
  <repository path="..\ST.Wafermap\Wafermap.Service\packages.config" />
  <repository path="..\ST.Wafermap\Wafermap.Tests\packages.config" />
</repositories>