<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitVersionTask" version="2.0.1" targetFramework="portable-net45+win" developmentDependency="true" />
  <package id="PCLCrypto" version="1.0.0.15071" targetFramework="portable-net45+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="PepitaPackage" version="1.21.4" targetFramework="portable-net45+win+MonoAndroid10+xamarinios10+MonoTouch10" developmentDependency="true" />
  <package id="Validation" version="2.0.4.14103" targetFramework="portable-net45+win+MonoAndroid10+xamarinios10+MonoTouch10" />
</packages>